/* Card.module.css */
.card {
    width: 31%;
    height: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  
  .statusAndName {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
  }
  
  .status {
    width: 25px; 
    height: 25px;
    /* background-color: green; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .moving {
    background-color: #278e06;
  }
  .stoped{
    background-color:#e13e5b;
  }
  
  .nameAndDetail {
    width: calc(100% - 60px); 
  }
  
  p {
    margin: 0px;
    padding: 0px;
  }
  
  .blue-text {
    color: blue;
  }
  
  .indicadores {
    display: flex;
    flex-direction: column; 
    padding-left: 25px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .rectangle {
    width: 50%; 
    height: 75px;
    display: flex;
    flex-direction: column;
    margin: 10px; 
    background-color: lightgray; 
  }
  .firstBreack {
    background-color: #008000;
  }
  
  .secondBreack {
    background-color: #ffff00;
  }
  
  .thirdBreack {
    background-color: #ffa500;
  }
  
  .fourthBreack {
    background-color: #ff0000;
  }
  
  .fifthBreack {
    background-color: #8b0000;
  }
  
  .sixthBreack {
    background-color: #8b0000;
  }

  .regularBreack {
    background-color: #e4e4e4;
  }
  
  .indicadorName {
    height: 20%; 
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .indicadorValue {
    height: 75%; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
  