.Center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  background-color: #e4e4e4;
}
.CardsContainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;

}
.PaginationContainer {
  height: 17%;
  display: flex;
  justify-content: center;
  margin: 20px 0;

}

