/* MachineDescription.module.css */

.center {
  display: flex;
  justify-content: center;
  height: 610px;
  width: 100%;
  overflow-y: auto; /* Agrega esta línea para el scroll vertical */
}
.machineContainer {
  min-height: 500px; /* Ajusta según tus necesidades */
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 20px;
}
.indicadores {
  width: 90%;
  display: flex;
  flex-direction: column; 
}
  
  .titleAndNumber {
    padding: 10px 10px;
    border-bottom: 1px solid #e4e4e4;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    align-self: flex-start;
  }
  
  .number {
    align-self: flex-end;
  }
  
  .descriptionContainer {
    display: flex;
    overflow: hidden; /* Cambia a "hidden" para ocultar el desbordamiento horizontal */
    height: 100%;
  }
  
  
  .leftInformation {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .rectangle {
    width: 150px;
    height: 75px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: lightgray;
}
  .leftGraphics {
    /* Estilos para leftGraphics */
  }
  
  .indicadorName {
    /* Estilos para indicadorName */
  }
  
  .indicadorValue {
    /* Estilos para indicadorValue */
  }
  
  .leftSimpleInformation {
    /* Estilos para leftSimpleInformation */
  }
  .textoPequeño{
   font-size: '12px';
    white-space: 'nowrap' ;
  }
  .boldText {
    font-weight: bold;
  }
  .textSeparation{
    margin: 5px 0px
  }

  .blueText {
    color: blue;
  }
  
  .rigthInformation {
    width: 60%;
    padding-right: 10px;
    height: 100%;
    overflow-y: auto; /* Agrega esta línea para la barra de desplazamiento vertical */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .tableTitle {
    background-color: gray;
    text-align: center;
    font-weight: bold;
  }
  
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  